@page
@model Music_Events.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Payment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Payment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Artist.StageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Event)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Event.EventName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
